.add_question {
    text-align: center;
}

.klausimo_tekstas {
    width: 80%;
    height: 10em;

}

.atsakymo_laukas {
    width: 70%;
}

.question {
    border: 1px solid black;
}

.window_edit_question {
    width: 80%;
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}